
.profileCard {
    padding: 2em;
    background-color: #30363d;
    box-shadow: 0 0 4px 8px #3a0ca3;
    color: white;
    z-index: 4;
    border-radius: 6px;
    max-width: 450px;
}

.imageContainer {
    border: solid 2px rgb(255, 7, 61);
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.mainInfo > span {
    margin-left: 1em;
}

.mainInfo > span > p {
    color: grey;
}

.follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.follow > p {
    color: rgb(6, 103, 248);
}

.blog {
    text-decoration: none;
    color: grey;
}

.userImage {
    max-width: 90px;
    max-height: 90px;
    border-radius: 50%;
}