@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.mainIndexPage {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0 1em;
    font-family: 'Patrick Hand', cursive;
}

.title {
    color: white;
    font-family: cursive;
    font-size: 200%;
    word-wrap: break-word;
    text-align: center;
}

.username {
    width: 100%;
    border: solid transparent;
    padding: 2em 0 2em 0;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    font-size: 100%;
    font-family: cursive;
    color: white;
    
    text-align: center;
}

.username:focus {
    outline: none;
}