
.cardContainer {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadButtonContainer {
    z-index: 10;
    position: relative;
    right: 15em;
    top: 15em;
}

.downloadButtonContainer button {
    border: solid transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(6, 155, 255);
}

.downloadButtonContainer button:focus {
    outline: none;
}

.downloadButtonContainer img {
    max-width: 100%;
    max-height: 100%;
}